 .main {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
    background-image: linear-gradient(to top right, red, white);
    background-size: cover; 
    background-repeat: no-repeat; 
}

.satu {
    margin:  auto;
    margin-top: 10px;
    width: 700px;
    height: 500px;
    background-image: radial-gradient(circle at bottom, white, blue);
   
}

.tiga {
   height: 250px;
   margin-bottom: 50px;
}